.cards{

}
  .cards .content{
    display: flex;
    flex-wrap: wrap;
  }
    .cards #card{
      height: 190px;
      width: 140px;
      margin: 10px;
      border: solid black 3px;
    }
      .cards #card img{
        position: absolute;
        height: 190px;
        width: 140px;
      }
    .cards .ownedCard{
      box-shadow:  5px 10px 8px rgba(0,0,0,0.9), 5px 10px 18px rgba(0,0,0,0.5);
    }
    .cards .unOwnedCard{

    }
      .cards #card .overlay{
        position: absolute;
        height: 190px;
        width: 140px;
        z-index: 999;
        color: rgba(0,0,0,0)
      }
        .cards #card .overlay:hover{
          background-color: rgba(0,0,0,.5);
          color:white;
        }
      .cards #card #blackout{
        background-color: rgba(0,0,0,.5);
      }
