// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// collections
.collections{

}
  .collections .content{
    display: flex;
    flex-wrap: wrap;
  }
    .collections .content .section{
      text-align: center;
      width: 140px;
      margin: 20px;
      color: white;
    }
      .collections .content .section .image{
        height: 190px;
        width: 140px;
      }
      .collections .content .section .image img{
        height: 190px;
        width: 140px;
        background-color: red;
      }
// end collections
